*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Microsoft Yahei";
  line-height: 1.7
}

a{
  text-decoration: none
}

img{
  vertical-align: middle;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

ul,li{
  list-style: none
}

#main-container{
  width: 100%;
  height: 100vh;
}

#splash-screen{
  background:url(../images/bg1.jpg) no-repeat top center #c0f1ff;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
}

.logo-screen{
  position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
width: 35%;
max-width: 270px;
}
